go 1.25.0

use (
	./ginny
	./ginny-asynq
	./ginny-broker
	./ginny-consul
	./ginny-demo
	./ginny-desensitivity
	./ginny-encrypt
	./ginny-gorm
	./ginny-locker
	./ginny-mongo
	./ginny-mysql
	./ginny-redis
)
